body {
    background: linear-gradient(135deg, #202336, #373b60);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgba(255, 255, 255, 0.05); /* light frosted glass effect */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 20px 30px;

    height: auto;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.logoImage {
    height: 150px;
}

.kang_text_bubble {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    font-size: 18px;
    color: #000000;
    background: rgba(212, 167, 255, 0.3); /* Using rgba for transparency */
    border: 2px solid #000000;
    border-radius: 15px;
    padding: 10px 15px;
    max-width: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.bubbleRow {
    display: flex;
    gap: 30px;      /* Spacing between bubbles */
    margin: 30px;   /* space from the end of the page */
    align-items: flex-start;  /* align bubbles to the top */

}

.infoBubble {
    background: rgba(255, 255, 255, 0.1); /* or rgba(0, 0, 0, 0.2) for dark theme */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    height: auto;
    min-height: 340px;
    width: 260px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 15px;
    gap: 10px;
    color: white; /* or black depending on your background */
}


.button{
    padding: 5px 5px;
} 

p {
    text-align: center;
}

.liveCameraStream{
    margin: 20px;
    margin-top: 50px;
}

#camContainer img {
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer; /* lets user know it's clickable */
    transition: transform 0.2s ease;
}

#camContainer img:hover {
    transform: scale(1.02);
}

#vortex_cam_container img {
    width: 100%;
    max-height: 160px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    cursor: pointer; /* lets user know it's clickable */
    transition: transform 0.2s ease;
}

#vortex_cam_container img:hover {
    transform: scale(1.02);
}


.liveCameraStream {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
